@using Models;
@model ComputerDetailsViewModel
@{
    ViewData["Title"] = "GetComputer";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheet/computerpage.css" rel="stylesheet" />

@if (TempData["Message"] != null)
{
    <div class="success-message">@TempData["Message"]</div>
}

<div class="computer-container">
    <div class="computer-image">
        <img src="http://localhost:5195/Images/Computers/@Model.computer.ComputerPicture" alt="Computer Image">
    </div>

    <div class="computer-details">
        <h2>@Model.computer.ComputerName</h2>
        <ul>
            <li>Price: $@Model.computer.Price</li>
            <li>Company: @Model.company.CompanyName</li>
            <li>Computer Type: @Model.type.TypeName</li>
            <li>Operating System: @Model.operatingSystem.OperatingSystemName</li>
            <li>CPU: @Model.cpu.CpuName</li>
            <li>GPU: @Model.gpu.GpuName</li>
            <li>RAM: @Model.ram.RamName @Model.ram.RamSpeed @Model.ram.RamSize</li>
            <li>Storage: @Model.storage.StorageName</li>
            <li>Power Supply: @Model.powerSupply.PowerSupplyName</li>
            <li>Motherboard: @Model.motherBoard.MotherBoardName</li>
            <li>CPU Fan: @Model.cpuFan.CpuFanName</li>
            <li>Case: @Model.computerCase.CaseName</li>
        </ul>
        <a href="@Url.Action("AddToCart", "User", new { computerId = Model.computer.ComputerId })" class="buy-btn">
            Add to Cart
        </a>
        <a href="http://localhost:5036/Guest/GetCatalog/" class="buy-btn">
            Back To Catalog
        </a>
    </div>
</div>